<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/adarshks/IdeaProjects/APIAutomationFrameworkATB13x">
        <classes>
            <class name="com.thetestingacademy.tests.restfulBooker.sample.TestIntegrationSample">
                <methods>
                    <include name="test_create_booking"/>
                    <include name="test_verify_bookingId"/>
                    <include name="test_update_bookingById"/>
                    <include name="test_delete_bookingById"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>